//マップ型変数breakpointsを定義
$breakpoints: (
//キー　　値
 'sm': 'screen and (min-width: 576px)',
 'md': 'screen and (max-width: 576px)',
 'lg': 'screen and (max-width: 992px)',
 'xl': 'screen and (max-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/* ベース色 */
$color-white: #ffffff;
$color-blue: #015db2;
$color-accent: #05215c;
$color-gray: #edf1f3;

/* テキスト色 */
$color-text: #222222;

/* 透明度 */
$opacity: 0.7;

/* フォントサイズ */
$fontSize-main: 1.6rem;
$fontSize-title: 2.8rem;
$fontSize-subtitle: 2.0rem;
$fontSize-copyright: 1.2rem;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 62.5%;
  box-sizing: border-box;
  position: relative;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

a{
  cursor: pointer;
}

body {
  line-height: 1;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

.router-a{
  font-size: $fontSize-main;
}

h1, h2{
  font-size: $fontSize-title;
}
